<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Customers</title>
</head>
<body>
	<h1>AppName: </h1>

	<h3><span th:text="((${money}>0) ? 'Ganador' : 'Perdedor')"/>
	 <span th:text="${money} + '   ' +${prueba}"/>
	</h3>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>NAME</th>
				<th>LASTNAME</th>
				<th>AGE</th>
				<th>BIRTHDAY</th>
				<th>SEX</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="customer : ${customers}">
				<td th:text="${customer.id}" />
				<td th:text="${customer.names}" />
				<td th:text="${customer.lastNames}" />
				<td th:text="${customer.age}" />
				<td th:text="${#temporals.format(customer.birthday, 'dd/MM/yyyy')}" />
				<td th:text="${customer.sex}" />
			</tr>
		</tbody>
	</table>
</body>
</html>
